In [100]:
#imports pdblp which allows for directly pulling bloomberg api values into data frames. 
#pdblp needs to be installed using "pip install pdblp". User needs active bloomberg terminal/api access to use this feature
import pdblp
import pandas as pd
import csv
from pathlib import Path

In [106]:
#initiate pdblp. debug=True will print out how we are interacting with bloomberg api in case of errors
con = pdblp.BCon(debug=False, port=8194, timeout=5000000)    
con.start()

In [180]:
def run_data_bdh_list(tickers_path, save_path, start_date, end_date, bbg_field):
    
    #pull tickers and store in a list
    with open(tickers_path, "r") as csvfile:
        ticker_list = []
        csvreader = csv.reader(csvfile, delimiter=",")

        # Read the CSV data
        for row in csvreader:
            ticker_list.append(row)

    #ticker_list is a list of lists. Remove the list from list of lists
    ticker_list = ticker_list[0]
    
    #append " US EQUITY" to bloomberg api ticker format. we create a new list that is a copy so that we can rename our headers with the original text format
    bdh_list = ticker_list.copy()

    for x in range(len(bdh_list)):
        bdh_list[x] = ticker_list[x] + " US EQUITY"
    
    #pull bloomberg data into dataframe
    data_df=con.bdh(bdh_list, bbg_field, start_date, end_date)
    
    #create empty list to populate
    new_label =[]
    
    #loop through and remove " US EQUITY" from each individual column label and add to new_label list
    for column in data_df:
        column = column[0].split()[0]
        new_label.append(column)
    
    #rename the column labels without " US EQUITY"
    data_df.set_axis(new_label,axis=1,inplace=True)
    
    #print data to csv
    data_df.to_csv(save_path)

In [162]:
start_date='20191101'
end_date='20211231'

run_data_bdh_list(Path("./data/Tickers.csv"),Path("./data/Stock_Prices_20211102.csv"),start_date, end_date,"PX LAST")
run_data_bdh_list(Path("./data/Tickers.csv"),Path("./data/Call_Volume_20211102.csv"),start_date, end_date,"volume_total_call")
run_data_bdh_list(Path("./data/Tickers.csv"),Path("./data/Put_Volume_20211102.csv"),start_date, end_date,"volume_total_put")
run_data_bdh_list(Path("./data/Tickers.csv"),Path("./data/Market_Cap_20211102.csv"),start_date, end_date,"cur_mkt_cap")
run_data_bdh_list(Path("./data/Tickers.csv"),Path("./data/Open_Interest_20211102.csv"),start_date, end_date,"put_call_open_interest_total")
run_data_bdh_list(Path("./data/Tickers.csv"),Path("./data/Short_Interest_20211102.csv"),start_date, end_date,"si_percent_equity_float")
run_data_bdh_list(Path("./data/Tickers.csv"),Path("./data/Free_Float_20211102.csv"),start_date, end_date,"eqy_free_float_pct")

In [255]:
def run_data_bdp_list(tickers_path, save_path, bbg_field):
    
    #pull tickers and store in a list
    with open(tickers_path, "r") as csvfile:
        ticker_list = []
        csvreader = csv.reader(csvfile, delimiter=",")

        # Read the CSV data
        for row in csvreader:
            ticker_list.append(row)

    #ticker_list is a list of lists. Remove the list from list of lists
    ticker_list = ticker_list[0]
    
    #append " US EQUITY" to bloomberg api ticker format. we create a new list that is a copy so that we can rename our headers with the original text format
    bdh_list = ticker_list.copy()

    for x in range(len(bdh_list)):
        bdh_list[x] = ticker_list[x] + " US EQUITY"
    
    #pull bloomberg data into dataframe
    data_df=con.ref(bdh_list, bbg_field)
    
    #remove extra data columns
    data_df=data_df.iloc[:,[0,2]]

    #loop through rows and remove " US EQUITY" from ticker
    for i in range(len(data_df)):
        data_df.iloc[i][0] = data_df.iloc[i][0].split()[0]
   
    #Transpose and set tickers as column headers
    #data_df=data_df.transpose()
    #data_df.columns=data_df.iloc[0]
    #data_df.drop(data_df.index[0])
    
    #print data to csv
    data_df.to_csv(save_path)

In [258]:
run_data_bdp_list(Path("./data/Tickers.csv"),Path("./data/Sectors_20211102.csv"),"GICS SECTOR NAME")
run_data_bdp_list(Path("./data/Tickers.csv"),Path("./data/Subsectors_20211102.csv"),"GICS INDUSTRY NAME")

In [178]:
def run_data_bdh_single(ticker, save_path, start_date, end_date, bbg_field):
    
   #place the ticker input into the list to plug bloomberg data pull
    ticker_list = []
    ticker_list.append(ticker)
    
    #append " US EQUITY" to bloomberg api ticker format. we create a new list that is a copy so that we can rename our headers with the original text format
    bdh_list = ticker_list.copy()

    for x in range(len(bdh_list)):
        bdh_list[x] = ticker_list[x] + " US EQUITY"
    
    #pull bloomberg data into dataframe
    data_df=con.bdh(bdh_list, bbg_field, start_date, end_date)
    
    #create empty list to populate
    new_label =[]
    
    #loop through and remove " US EQUITY" from each individual column label and add to new_label list
    for column in data_df:
        column = column[0].split()[0]
        new_label.append(column)
    
    #rename the column labels without " US EQUITY"
    data_df.set_axis(new_label,axis=1,inplace=True)
    
    #print data to csv
    data_df.to_csv(save_path)

In [182]:
run_data_bdh_single("SPY",Path("./data/SPY_Price_20211102.csv"),start_date, end_date,"PX LAST")

In [107]:
#set path for list of tickers
tickers_path = Path("./data/Tickers.csv")


#pull tickers and store in a list
with open(tickers_path, "r") as csvfile:
    ticker_list = []
    csvreader = csv.reader(csvfile, delimiter=",")

    # Read the CSV data
    for row in csvreader:
        ticker_list.append(row)

#ticker_list is a list of lists. Remove the list from list of lists
ticker_list = ticker_list[0]

In [108]:
#append " US EQUITY" to bloomberg api ticker format. we create a new list that is a copy so that we can rename our headers with the original text format
bdh_list = ticker_list.copy()

for x in range(len(bdh_list)):
    bdh_list[x] = ticker_list[x] + " US EQUITY"

In [150]:
start_date="20191101"
end_date ="20211109"
#pull bloomberg data into dataframe
price_df=con.bdh(bdh_list, 'PX_LAST',start_date, end_date)

price_df.head()

ticker,CCL US EQUITY,DISCA US EQUITY,GE US EQUITY,AAPL US EQUITY,AAL US EQUITY,MU US EQUITY,CMCSA US EQUITY,BIDU US EQUITY,TSLA US EQUITY,C US EQUITY,...,EOSE US EQUITY,RVLV US EQUITY,RL US EQUITY,GNK US EQUITY,QDEL US EQUITY,SUMO US EQUITY,PMT US EQUITY,CNDT US EQUITY,SAGE US EQUITY,IO US EQUITY
field,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,...,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST,PX_LAST
date,,,,,,,,,,,,,,,,,,,,,
2019-11-01,41.9684,27.26,82.3583,62.830,30.3491,48.3125,42.9949,104.64,62.662,68.8728,...,NaN,21.24,95.3355,9.3099,58.28,NaN,19.0582,6.37,143.95,8.7656
2019-11-04,43.1996,27.81,86.7222,63.243,30.7364,49.5208,42.1687,109.62,63.494,70.0946,...,NaN,20.80,96.3571,9.6743,59.48,NaN,18.7929,6.54,143.70,8.8028
2019-11-05,43.8348,27.95,87.0396,63.152,31.0652,48.6120,42.5434,108.05,63.444,69.7962,...,NaN,19.45,99.2953,9.4830,61.93,NaN,18.6934,6.67,144.44,8.7749
2019-11-06,43.3560,27.69,87.4363,63.179,30.8460,47.6134,42.4857,107.36,65.316,69.4137,...,NaN,19.66,98.1473,9.0184,58.68,NaN,18.7349,6.62,138.71,8.4406
2019-11-07,44.0204,31.03,89.5786,63.908,30.7763,48.3324,42.9469,121.87,67.108,70.7102,...,NaN,19.33,112.5366,9.9020,58.75,NaN,18.7432,7.38,138.93,8.7006

In [156]:
new_label =[]
for column in price_df:
    column = column[0].split()[0]
    new_label.append(column)
price_df.set_axis(new_label,axis=1,inplace=True)
price_df

,CCL,DISCA,GE,AAPL,AAL,MU,CMCSA,BIDU,TSLA,C,...,EOSE,RVLV,RL,GNK,QDEL,SUMO,PMT,CNDT,SAGE,IO
date,,,,,,,,,,,,,,,,,,,,,
2019-11-01,41.9684,27.26,82.3583,62.830,30.3491,48.3125,42.9949,104.64,62.662,68.8728,...,NaN,21.24,95.3355,9.3099,58.28,NaN,19.0582,6.37,143.95,8.7656
2019-11-04,43.1996,27.81,86.7222,63.243,30.7364,49.5208,42.1687,109.62,63.494,70.0946,...,NaN,20.80,96.3571,9.6743,59.48,NaN,18.7929,6.54,143.70,8.8028
2019-11-05,43.8348,27.95,87.0396,63.152,31.0652,48.6120,42.5434,108.05,63.444,69.7962,...,NaN,19.45,99.2953,9.4830,61.93,NaN,18.6934,6.67,144.44,8.7749
2019-11-06,43.3560,27.69,87.4363,63.179,30.8460,47.6134,42.4857,107.36,65.316,69.4137,...,NaN,19.66,98.1473,9.0184,58.68,NaN,18.7349,6.62,138.71,8.4406
2019-11-07,44.0204,31.03,89.5786,63.908,30.7763,48.3324,42.9469,121.87,67.108,70.7102,...,NaN,19.33,112.5366,9.9020,58.75,NaN,18.7432,7.38,138.93,8.7006
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2021-11-03,23.1700,25.60,105.9700,151.269,20.6300,71.2500,52.9500,165.37,1213.860,69.0000,...,11.63,76.00,122.9400,16.3500,138.39,16.99,20.1100,7.11,47.11,2.6400
2021-11-04,22.8800,25.46,105.2100,150.740,20.6300,72.2400,52.7300,162.58,1229.910,67.0000,...,11.08,77.29,124.3600,16.7100,136.14,17.30,20.1000,7.03,46.67,2.0600
2021-11-05,24.7900,26.52,108.7400,151.280,21.8200,72.9200,53.9000,158.23,1222.090,66.9900,...,11.29,81.51,127.5400,15.8100,121.10,17.00,19.2600,6.21,45.14,1.9900
2021-11-08,24.5900,26.28,108.4200,150.440,22.2500,74.5600,53.4900,161.42,1162.940,68.4500,...,11.89,81.85,128.9600,16.1300,125.94,17.00,19.3000,6.10,44.41,1.9500
2021-11-09,24.1700,26.65,111.2900,150.810,22.2600,75.5900,53.7500,161.63,1023.500,67.9900,...,11.00,84.01,129.1200,16.2800,122.19,17.60,18.7900,6.06,43.36,1.9200

In [ ]:
#store the data as CSV
output_path = Path("./data/Stock_Prices_20211102.csv")
price_df.to_csv(output_path)

In [93]:
call_df=con.bdh(bdh_list, 'volume_total_call', start_date, end_date)
call_df=call_df[bdh_list]
call_df.set_axis(ticker_list,axis=1,inplace=True)
call_df.to_csv(Path("./data/Call_Volume_20211102.csv"))

In [94]:
put_df=con.bdh(bdh_list, 'volume_total_put', start_date, end_date)
put_df=put_df[bdh_list]
put_df.set_axis(ticker_list,axis=1,inplace=True)
put_df.to_csv(Path("./data/Put_Volume_20211102.csv"))

In [95]:
mkt_cap_df=con.bdh(bdh_list, 'cur_mkt_cap', start_date, end_date)
mkt_cap_df=mkt_cap_df[bdh_list]
mkt_cap_df.set_axis(ticker_list,axis=1,inplace=True)
mkt_cap_df.to_csv(Path("./data/Market_Cap_20211102.csv"))

In [96]:
oi_df=con.bdh(bdh_list, 'put_call_open_interest_total', start_date, end_date)
oi_df=oi_df[bdh_list]
oi_df.set_axis(ticker_list,axis=1,inplace=True)
oi_df.to_csv(Path("./data/Open_Interest_20211102.csv"))

In [97]:
spy_df=con.bdh("SPY EQUITY", 'px_last', start_date, end_date)
#spy_df.set_axis("SPY",axis=1,inplace=True)
spy_df.set_axis(["SPY"], axis=1,inplace=True)
spy_df.to_csv(Path("./data/SPY_Price_20211102.csv"))

In [99]:
si_df=con.bdh(bdh_list, 'si_percent_equity_float', start_date, end_date)
si_df=si_df[bdh_list]
si_df.to_csv(Path("./data/Short_interest_20211102.csv"))

InvalidStateException: Session Not Started (0x00010009)

In [63]:
float_df=con.bdh(bdh_list, 'EQY_FREE_FLOAT_PCT', start_date, end_date)
float_df=float_df[bdh_list]
float_df.set_axis(ticker_list,axis=1,inplace=True)
float_df.to_csv(Path("./data/Put_Volume_20211102.csv"))

KeyError: "['BABA US EQUITY' 'NIO US EQUITY' 'EDU US EQUITY' 'TAL US EQUITY'\n 'JD US EQUITY' 'BIDU US EQUITY' 'TME US EQUITY' 'IQ US EQUITY'\n 'LI US EQUITY' 'PDD US EQUITY' 'XPEV US EQUITY' 'VIPS US EQUITY'\n 'JMIA US EQUITY' 'SE US EQUITY' 'FUTU US EQUITY' 'TIGR US EQUITY'\n 'GOTU US EQUITY' 'AMRN US EQUITY' 'BILI US EQUITY' 'HIMX US EQUITY'\n 'MLCO US EQUITY' 'BNTX US EQUITY' 'RLX US EQUITY' 'BEKE US EQUITY'\n 'TCOM US EQUITY' 'CAN US EQUITY' 'CMPS US EQUITY' 'OTLY US EQUITY'\n 'QD US EQUITY' 'MOMO US EQUITY' 'NTES US EQUITY' 'FINV US EQUITY'\n 'YY US EQUITY' 'GDS US EQUITY' 'BTCM US EQUITY' 'HUYA US EQUITY'\n 'LU US EQUITY' 'UXIN US EQUITY' 'AVDL US EQUITY' 'DOYU US EQUITY'\n 'TX US EQUITY' 'LX US EQUITY' 'WIMI US EQUITY' 'JKS US EQUITY'\n 'OZON US EQUITY' 'SOL US EQUITY' 'BZUN US EQUITY' 'KC US EQUITY'\n 'ZTO US EQUITY' 'WB US EQUITY' 'DQ US EQUITY' 'QFIN US EQUITY'\n 'BEST US EQUITY' 'NCTY US EQUITY' 'CRTO US EQUITY' 'SOHU US EQUITY'] not in index"

In [77]:
sector_df=con.ref(bdh_list, 'GICS_SECTOR_NAME')
sector_df.set_index("ticker")
float_df=float_df[bdh_list]
sector_df.set_axis(ticker_list,inplace=True)
sector_df
#sector_df.to_csv(Path("./data/Sector_List_20211102.csv"))

KeyError: "['BABA US EQUITY' 'NIO US EQUITY' 'EDU US EQUITY' 'TAL US EQUITY'\n 'JD US EQUITY' 'BIDU US EQUITY' 'TME US EQUITY' 'IQ US EQUITY'\n 'LI US EQUITY' 'PDD US EQUITY' 'XPEV US EQUITY' 'VIPS US EQUITY'\n 'JMIA US EQUITY' 'SE US EQUITY' 'FUTU US EQUITY' 'TIGR US EQUITY'\n 'GOTU US EQUITY' 'AMRN US EQUITY' 'BILI US EQUITY' 'HIMX US EQUITY'\n 'MLCO US EQUITY' 'BNTX US EQUITY' 'RLX US EQUITY' 'BEKE US EQUITY'\n 'TCOM US EQUITY' 'CAN US EQUITY' 'CMPS US EQUITY' 'OTLY US EQUITY'\n 'QD US EQUITY' 'MOMO US EQUITY' 'NTES US EQUITY' 'FINV US EQUITY'\n 'YY US EQUITY' 'GDS US EQUITY' 'BTCM US EQUITY' 'HUYA US EQUITY'\n 'LU US EQUITY' 'UXIN US EQUITY' 'AVDL US EQUITY' 'DOYU US EQUITY'\n 'TX US EQUITY' 'LX US EQUITY' 'WIMI US EQUITY' 'JKS US EQUITY'\n 'OZON US EQUITY' 'SOL US EQUITY' 'BZUN US EQUITY' 'KC US EQUITY'\n 'ZTO US EQUITY' 'WB US EQUITY' 'DQ US EQUITY' 'QFIN US EQUITY'\n 'BEST US EQUITY' 'NCTY US EQUITY' 'CRTO US EQUITY' 'SOHU US EQUITY'] not in index"

In [237]:
   
    #pull tickers and store in a list
    with open(Path("./data/Tickers.csv"), "r") as csvfile:
        ticker_list = []
        csvreader = csv.reader(csvfile, delimiter=",")

        # Read the CSV data
        for row in csvreader:
            ticker_list.append(row)

    #ticker_list is a list of lists. Remove the list from list of lists
    ticker_list = ticker_list[0]
    
    #append " US EQUITY" to bloomberg api ticker format. we create a new list that is a copy so that we can rename our headers with the original text format
    bdh_list = ticker_list.copy()

    for x in range(len(bdh_list)):
        bdh_list[x] = ticker_list[x] + " US EQUITY"
    
    #pull bloomberg data into dataframe
    data_df=con.ref(bdh_list, "GICS SECTOR NAME")

In [206]:
data_df

              ticker             field                   value
0      NEM US EQUITY  GICS SECTOR NAME               Materials
1     VTRS US EQUITY  GICS SECTOR NAME             Health Care
2     BKKT US EQUITY  GICS SECTOR NAME                     NaN
3     VIPS US EQUITY  GICS SECTOR NAME  Consumer Discretionary
4      COP US EQUITY  GICS SECTOR NAME                  Energy
...              ...               ...                     ...
1190  GLNG US EQUITY  GICS SECTOR NAME                  Energy
1191  AMGN US EQUITY  GICS SECTOR NAME             Health Care
1192  SWKS US EQUITY  GICS SECTOR NAME  Information Technology
1193   CDE US EQUITY  GICS SECTOR NAME               Materials
1194    IP US EQUITY  GICS SECTOR NAME               Materials

[1195 rows x 3 columns]

In [238]:
data_df=data_df.iloc[:,[0,2]]

for i in range(len(data_df)):
    data_df.iloc[i][0] = data_df.iloc[i][0].split()[0]

              ticker                   value
0     GILD US EQUITY             Health Care
1     QCOM US EQUITY  Information Technology
2       MS US EQUITY              Financials
3     SPCE US EQUITY             Industrials
4      WMT US EQUITY        Consumer Staples
...              ...                     ...
1190  RADA US EQUITY             Industrials
1191   DBI US EQUITY  Consumer Discretionary
1192  GDOT US EQUITY              Financials
1193    RL US EQUITY  Consumer Discretionary
1194  SUMO US EQUITY  Information Technology

[1195 rows x 2 columns]

In [239]:

for i in range(len(data_df)):
    data_df.iloc[i][0] = data_df.iloc[i][0].split()[0]

In [240]:
 data_df.iloc[0][0]

'GILD'

In [241]:
data_df

     ticker                   value
0      GILD             Health Care
1      QCOM  Information Technology
2        MS              Financials
3      SPCE             Industrials
4       WMT        Consumer Staples
...     ...                     ...
1190   RADA             Industrials
1191    DBI  Consumer Discretionary
1192   GDOT              Financials
1193     RL  Consumer Discretionary
1194   SUMO  Information Technology

[1195 rows x 2 columns]

In [247]:
data_df=data_df.transpose()
data_df.columns=data_df.iloc[0]
data_df.drop(data_df.index[0])

In [250]:
data_df.columns=data_df.iloc[0]
data_df.drop(data_df.index[0])

GILD,GILD,QCOM,MS,SPCE,WMT,V,ZNGA,BMY,KO,SLB,...,RVLV,QDEL,PMT,SAGE,AQB,RADA,DBI,GDOT,RL,SUMO
0,,,,,,,,,,,,,,,,,,,,,
Health Care,Health Care,Information Technology,Financials,Industrials,Consumer Staples,Information Technology,Communication Services,Health Care,Consumer Staples,Energy,...,Consumer Discretionary,Health Care,Financials,Health Care,Health Care,Industrials,Consumer Discretionary,Financials,Consumer Discretionary,Information Technology

In [251]:
data_df

GILD,GILD,QCOM,MS,SPCE,WMT,V,ZNGA,BMY,KO,SLB,...,RVLV,QDEL,PMT,SAGE,AQB,RADA,DBI,GDOT,RL,SUMO
0,,,,,,,,,,,,,,,,,,,,,
GILD,GILD,QCOM,MS,SPCE,WMT,V,ZNGA,BMY,KO,SLB,...,RVLV,QDEL,PMT,SAGE,AQB,RADA,DBI,GDOT,RL,SUMO
Health Care,Health Care,Information Technology,Financials,Industrials,Consumer Staples,Information Technology,Communication Services,Health Care,Consumer Staples,Energy,...,Consumer Discretionary,Health Care,Financials,Health Care,Health Care,Industrials,Consumer Discretionary,Financials,Consumer Discretionary,Information Technology